# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Certificados y claves
*.pem
*.key
*.cert

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de lock (si usas yarn)
yarn.lock

# Archivos de VS Code
.vscode/
